/* ---------------------------------------------------------------
 * STRUCTURE
 * Site layout
 * ------------------------------------------------------------ */
#wrapper{
	text-align: left;
	width:97%;
	margin:2% auto 0.8em;
	position:relative;
}

	/* -------------------------------------------------- */
	/*	Main
	/* -------------------------------------------------- */
	#main{
		width:82%;
		float:right;
	} /* 620px */
		
	#sidebar {
		width: 250px;
		float:left;
	}
	
	/* -------------------------------------------------- */
	/*	Home slideshow
	/* -------------------------------------------------- */
	.slideshow, .album-cover{
		margin:0 auto;	
		width:85%;
	}
	.slideshow .bx-wrapper .bx-viewport{
		box-shadow:none;
		border:none;	
	}
	ul.bxslider{
		margin:0;
		padding:0;
		list-style: none;	
	}
	ul.bxslider .bx-caption{
		background: #666\9;
		background: rgba(80, 80, 80, 0.0);
		bottom: 15%;
		left: auto;	
		right: 8%;
		width: auto;
		padding: 2px 10px;
	}
		ul.bxslider li.top-right .bx-caption{
			left:auto;
			bottom: auto;
			right: 8%;
			top: 15%;
		}
		ul.bxslider li.bottom-left .bx-caption{
			left:8%;
			bottom: 15%;
			right: auto;
			top: auto;
		}
		ul.bxslider li.top-left .bx-caption{
			left:8%;
			bottom: auto;
			right: auto;
			top: 15%;
		}
	ul.bxslider .bx-caption span{
		text-align:left;
		font-family: 'Rokkitt', serif;
		font-size:26px;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	}
	ul.bxslider .bx-caption p{
		margin:0;	
	}

	/* -------------------------------------------------- */
	/*	Blog page
	/* -------------------------------------------------- */
	#blog{
		margin-top:50px;	
		padding-top:50px;
		overflow:hidden;
	}
	#blog .blog-classic{
		width:600px;
		float:left;
		margin-right:40px;	
	}
	.blog-sidebar{
		width:250px;
		float:left;	
	}
	
	/* -------------------------------------------------- */
	/*	Lightwindow
	/* -------------------------------------------------- */
	#lightwindow{position:absolute;top:0;left:0;right:0;background:#fff;background:rgba(255,255,255,0.95);z-index:9999;display:none;}
	#lightwindow-content{display:none;}
	
/* ---------------------------------------------------------------
 * NAVIGATION
 * Accordion menu
 * ------------------------------------------------------------ */
	/* -------------------------------------------------- */
	/*	Main menu
	/* -------------------------------------------------- */
	.nav-menu{height:auto; list-style:none; margin-bottom:0px; padding-left:0;}
	.nav-menu li{position:relative;display:block; width:100%; margin-bottom:8px;}
	.nav-menu li a{height:14px;display:block;background:none;}
	
	.nav-menu li a.active, 
	.nav-menu li a:hover {color:#ff3333; text-decoration:none;}
	
	/* -------------------------------------------------- */
	/*	Sub menu
	/* -------------------------------------------------- */
 
	.nav-menu ul{left:-9999px; margin-bottom:10px; margin-top:10px; display:none; padding-left:0;}
	.nav-menu ul li{line-height:20px;margin-bottom:5px;}
	.nav-menu ul a{white-space:nowrap;display:block; font-size:15px; color:#a2806d; padding-left:8px;}
	
	.nav-menu ul li a:hover, .nav-menu ul li a.active{
		background:url(../images/arrow_orange.png) 0 6px no-repeat;
	}
	
/* ---------------------------------------------------------------
 * COLUMNS
 * Grids layout
 * ------------------------------------------------------------ */	
.one-fourth, .one-third, .two-third, .three-fourth, .two-fourth {
	position: relative;
	margin-right: 3%;
	float: left;
	/*overflow:hidden;*/
}
/* one_fourth */
.one-fourth{
	width: 22.75%;
}
/* one_third */
.one-third {
    width: 31.33%;
}
/* two_third */
.two-third {
    width: 65.66%;
}
/* two_fourth */
.two-fourth {
    width: 48.5%;
}
/* three_fourth */
.three-fourth {
    width: 74.25%;
}
.last {
	margin-right: 0 !important;
	clear: right;
}	


/* ---------------------------------------------------------------
 * WIDGET
 * All widget elements
 * ------------------------------------------------------------ */		
	
	.widget { margin: 0 0 30px;}

	.widget-title{
		border-bottom:1px solid #E9E9E9; 
		margin-bottom: .8em;
	}
	.widget-title h3 {
		color: #80573D;
		font-size: 1.2em;
		font-weight: 600;
		display: inline-block;
		margin: 0;
		border-bottom:1px solid #80573D;
		margin-bottom: -1px;
	}
		
	.widget ul {
		position: relative;
		margin: -0.666em 0 1.5em;
		padding: 0;
		list-style: none;
	}
	
	.widget ul li {
		position: relative;
		display: block;
		2px 0 2px 12px
		border-bottom: 1px solid #e9e9e9;
		background: url(../images/arrow_light.png) 0 7px no-repeat;
		padding-left:1em;
	}
	
	.widget ul ul {
		margin: 0.666em 0 0;
	}
	
	.widget ul ul li:first-child {
		border-top: 1px solid #e9e9e9;
	}
	
	/*.widget ul ul li {
		padding-left: 1.5em;
	}
	
	
.widget ul ul li:before {
		position: absolute;
		left: 0.5em;
		content: "\002d";
		color: #999;
	}
*/
	
	.widget ul ul li:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}
	
	.widget ul a {
		color: #6B6B6B;
		text-decoration: none;
		font-size:14px;
	}
	
	.widget ul a:hover {
		color: #ff3333;
		text-decoration: none;
	}
	
	/* -------------------------------------------------- */
	/*	Custom menu widget
	/* -------------------------------------------------- */
	.widget_nav_menu .widget-title, .widget_nav_menu .widget-title h3{
		border-bottom:none;
		color:#2D2D2E;
		font-size:1.2em;
	}
	.widget_nav_menu ul.menu{
		background-color:#7f9da4;
		padding: 1.2em;
		-webkit-border-radius: 6px; 
		   -moz-border-radius: 6px; 
			    border-radius: 6px;	
	}
	.widget_nav_menu ul.menu li{
		border:none;
		background:none;
		padding:0;
		margin:2px 0;
	}
	.widget_nav_menu ul.menu li a{
		background-color: #c6deea;
		color:#2D2D2E;
		font-size:1.2em;
		padding:0.5em 1.5em;
		display:block;
		-webkit-border-radius: 6px; 
		   -moz-border-radius: 6px; 
			    border-radius: 6px;
	}
	.widget_nav_menu ul.menu li a:hover{
		background-color: #2D2D2E;
		color:#fff;
	}
	.widget_nav_menu ul.menu li.current_page_item a{
		background-color:#476b71;
		color:#fff;
	}
	
	/* -------------------------------------------------- */
	/*	Search Widget
	/* -------------------------------------------------- */
	.widget #s, #search-bar #s {
		width: 100%;
		padding: 6px 24px 6px 6px;
		height: 27px;
		line-height: 27px;
		color:#999999;
		border: 1px solid #80573D;
		background-image: url(../images/search-icon.png);
		background-position: 98% 2px;
		background-repeat: no-repeat;
	}
	
		.widget #s:hover, #search-bar #s:hover{
			background-position: 98% -20px;	
		}
		
		.widget #s {
			background-position: 98% 2px;
		}
	
	.widget #searchsubmit, #search-bar #searchsubmit {
		position: absolute;
		top: 0;
		right: 0;
		visibility: hidden;
	}	
		
	/* -------------------------------------------------- */
	/*	Widget calendar work with table css in base.css
	/* -------------------------------------------------- */	
	
	.widget_calendar a:hover {
		background-color: rgba(0, 0, 0, 0.15);
	}
	
	.widget_calendar td, .widget_calendar th{
		padding:0!important;
		text-align:center;		
		font-size:14px;
	}
	
	.widget_calendar tbody td {
		background-color: rgba(255, 255, 255, 0.5);
	}
	
	.site-footer .widget_calendar tbody td {
		background-color: rgba(255, 255, 255, 0.05);
	}
	
	.widget_calendar tbody .pad, .site-footer .widget_calendar tbody .pad {
		background-color: transparent;
	}
	
	.widget_calendar td a{color:#ff3333;}
	
/* ---------------------------------------------------------------
 * CUSTOM WIDGET
 * All custom widget elements
 * ------------------------------------------------------------ */
 
	/* -------------------------------------------------- */
	/*	Widget calendar work with table css in base.css
	/* -------------------------------------------------- */	
	.sp-widget-category-posts ul.thumb li{
		clear: both;
		overflow: hidden;
		background-image: none!important;
		padding-left: 0!important;
	}
	.sp-widget-category-posts li .entry-meta{margin-bottom: 0;}
	.sp-widget-category-posts p{
		margin: 0;
	}
	
	/* -------------------------------------------------- */
	/*	Social Icons Widget
	/* -------------------------------------------------- */
	.social-icons{text-align:center;}
		.social-icons a{position:relative;margin:0 2px 0 ; opacity:.7;}
		.social-icons a:hover{ opacity:1;}
		.social-icons.icon_24 img{width:24px; height:24px;}
		.social-icons.icon_16 img{width:16px; height:16px;}

	/* -------------------------------------------------- */
	/*	Social
	/* -------------------------------------------------- */
	.social-icons.icon_flat{float:right; margin:6px 5px 0 0;}
	.social-icons.icon_flat a{background:url(../images/social-icons.png) no-repeat top left; width: 20px;height: 20px; opacity:.3;}
	.social-icons.icon_flat a:hover{ opacity:.6;}
	.icon_flat a.google-tieicon{background-position:-38px 1px;}
	.icon_flat a.facebook-tieicon{background-position:left 0;}
	.icon_flat a.twitter-tieicon{background-position:-76px 1px;}
	.icon_flat a.google-play-tieicon{background-position:-121px 1px;}
	.icon_flat a.skype-tieicon{background-position:-163px 0px;}
	.icon_flat a.blogger-tieicon{background-position:-202px 0px;}
	.icon_flat a.wordpress-tieicon{background-position:left -41px;}
	.icon_flat a.paypal-tieicon{background-position:-38px -41px;}
	.icon_flat a.ember-tieicon{background-position:-76px -41px;}
	.icon_flat a.deviantart-tieicon{background-position:-121px -41px;}
	.icon_flat a.linkedin-tieicon{background-position:-163px -41px;}
	.icon_flat a.vimeo-tieicon{background-position:-202px -41px;}
	.icon_flat a.reddit-tieicon{background-position:left -82px;}
	.icon_flat a.youtube-tieicon{background-position:-38px -82px;}
	.icon_flat a.tumblr-tieicon{background-position:-76px -82px;}
	.icon_flat a.dribbble-tieicon{background-position:-121px -82px;}
	.icon_flat a.evernote-tieicon{background-position:-163px -82px;}
	.icon_flat a.apple-tieicon{background-position:-202px -82px;}
	.icon_flat a.rss-tieicon{background-position:left -123px;}
	.icon_flat a.lastfm-tieicon{background-position:-38px -125px;}
	.icon_flat a.pinterest-tieicon{background-position:-76px -123px;}
	.icon_flat a.stumbleupon-tieicon{background-position:-121px -125px;}
	.icon_flat a.pandora-tieicon{background-position:-163px -125px;}
	.icon_flat a.behance-tieicon{background-position:-202px -123px;}
	.icon_flat a.myspace-tieicon{background-position:left -164px;}
	.icon_flat a.digg-tieicon{background-position:-38px -164px;}
	.icon_flat a.forrst-tieicon{background-position:-76px -164px;}
	.icon_flat a.delicious-tieicon{background-position:-121px -164px;}
	.icon_flat a.sharethis-tieicon{background-position:-163px -164px;}
	.icon_flat a.technorati-tieicon{background-position:-202px -164px;}
	.icon_flat a.instagram-tieicon{background-position:left -209px;}
	.icon_flat a.picasa-tieicon{background-position:-38px -209px;}
	.icon_flat a.flickr-tieicon{background-position:-76px -209px;}
	
	/* Overwrite social a style */
	.social-icons.icon_flat a{display: inline-block;}
	
/* ---------------------------------------------------------------
 * BLOG
 * blog post styles
 * ------------------------------------------------------------ */
h1.entry-title, .section-title h3{
	font-size: 2em;
	line-height: 1.375;
	margin: 0;
}

.entry-content{
	/*padding-top:1em;*/
}
/*.entry-content a{
	text-decoration:underline;
}
.entry-content a:hover{
	text-decoration:none;
}*/
.entry-content ul{
	margin-top: 0;
}

.entry-content strong{
	color: #80573D;
}

/* Post Meta */
.entry-meta {
	color: #999999;
	display: block;
	margin: 0 0 1em;
	overflow: hidden;
	position: relative;
}

.entry-meta a,
.widget .entry-meta a,
.comments-link a span,
time {
	color: #999;
}

.entry-meta a:hover,
.widget .entry-meta a:hover,
.comments-link a:hover span,
time:hover {
	color: #333;
}

.post-thumbnail, .attachment-size_max, 
.alignleft, .alignright, .aligncenter, .alignnone{
	/*border: 1px solid #E5E5E5;
	padding: 5px;*/
	-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
				box-sizing: border-box;
}

/* Blog and Post Archive */
.archive-title{
	font-size: 1.5em;
	color:#999;
	float: left;
	border-bottom:1px solid #414141;
	margin-bottom: -1px;
}
	.archive-title span{
		color: #666; 
	}

.tagline{
	border-bottom: 1px solid #e9e9e9;
}	
	
.item-list{
	clear:both;
	margin: 20px 0;
}	
a.rss-cat-icon{
	float:right;
	background:url(../images/separate.png) no-repeat -19px -332px;
	width:16px;
	height:16px;
	margin:6px 0 0 8px;
	text-indent:-99999px;
	display:block;
}

/* Blog Classic Style */
.blog-classic h2.entry-title, .blog-classic-2 h2.entry-title{
	margin-bottom: 0;
	font-size: 1.8em;
}
.blog-classic article:first-child{
	margin-top:0;
}

/* ---------------------------------------------------------------
 * PAGINATION
 * page number for blog and post archive
 * ------------------------------------------------------------ */
.pagination { margin: 0; text-align:center; }

.comments-pagination {
	margin-bottom: 30px;
	margin-top: -20px;
}

	.pagination a, .pagination span {
		border: 1px solid transparent;
		color: #9c9c9c;
		display: inline-block;
		margin: 0 8px 0 0;
		padding: 2px 8px 4px;
	}

	.comments-pagination a, .comments-pagination span {
		margin-right: 5px;
		padding-bottom: 3px;
	}

	.ie7 .pagination li, .ie7 .pagination span { display: inline; }

	.pagination .current {
		background: #e6edef;
		color: #707070;
		padding: 2px 7px 4px;
	}

	.comments-pagination .current { padding-bottom: 3px; }

		.pagination a:hover, .comments-pagination a:hover {
			border-color: #e6edef;
			color: #ff6633;
		}

	.pagination .next, .pagination .prev { border: none; }
 
/* ---------------------------------------------------------------
* PORTFOLIO
* Style photo albums
* ------------------------------------------------------------ */
.album-cover:hover{cursor:url(../images/prettyPhoto/default/sprite_back_gallery.png), auto;}
.portfolio {
	z-index: 3;
}

.portfolio ul {
	margin: 0 auto;
	padding-left:0;
	list-style: none;
	overflow: hidden;
}
.portfolio li {
	display: block;
	float: left;
	margin: 0 14px 14px 0;
	background:url(../images/loader.gif) center center no-repeat;
}
.portfolio a{
	opacity:1;
}
	.portfolio a:hover{
		opacity:0.7;	
	}
.portfolio .small {
	width: 300px;
	height: 200px;
}
.portfolio .details {
	width: 990px;
	margin-top: 36px;
}
 	
/* ---------------------------------------------------------------
 * FOOTER
 * Footer area styles
 * ------------------------------------------------------------ */

#footer {
	padding-right:2%;
}

#footer a {
	color: #333333;
}

#footer a:hover {
	color: #ff3333;
}
	/* -------------------------------------------------- */
	/*	Copyright
	/* -------------------------------------------------- */
	.copyright {
	   text-align: right;
	   padding:0;
	   margin: 0;
	}

/* ---------------------------------------------------------------
 * CAPTION HOVER EFFECT
 * Effect style #5
 * ------------------------------------------------------------ */	
.grid {
	padding:0 0 50px 0;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 230px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #476B71;
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}	

/* Individual Caption Styles */

/* Caption Style 5 */
.cs-style-5 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-5 figure:hover img,
.cs-style-5 figure.cs-hover img {
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
	top:30px;
	left:-24px;
}

.cs-style-5 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.no-touch .cs-style-5 figure:hover figcaption,
.cs-style-5 figure.cs-hover figcaption {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.cs-style-5 figure a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/* ---------------------------------------------------------------
 * SCROLL TO TOP
 * Arrow style appeare when content is longer
 * ------------------------------------------------------------ */	
.scroll-to-top {
	position: fixed;
	right: 0.75em;
	bottom: 0.75em;
	text-align: center;
	z-index: 999;
}

.scroll-to-top a {
	display: block;
	width: 2.666em;
	height: 2.666em;
	background: #444;
	color: #fff;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);
	-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.scroll-to-top a:before {
	display: inline;
	font-family: FontAwesome;
	font-size: 1.3em;
	line-height: 2.2;
	text-align: center;
	content: "\f077";
	vertical-align: baseline;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.scroll-to-top a:hover {
	background-color: #4d90fe;
	text-decoration: underline;
}

/* ---------------------------------------------------------------
 * MISCELLANEOUS
 * Slider, style elements and general helper rules.
 * ------------------------------------------------------------ */		
 
/*Flexslider customize*/
#flexslider-post, #clients-carousel{
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 3em;
}
	#flexslider-post .slides li p{
		background-color: #f8f8f8;
		position: absolute;
		bottom: 0;
		padding: 1em;
		margin: 0;
		width: 100%;
		-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
				box-sizing: border-box;
	}
	
	.flex-control-nav{
		bottom: -25px;
	}
	
/* Tiny Scrollbar */
#scrollbar1 { width: 85%; margin: 50px 0 10px 50px; }
#scrollbar1 .viewport { width: 92.3%; height: 350px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; width: inherit; }
#scrollbar1 .scrollbar{ background-color:#c9c9c9 ; position: relative; float: right; width: 6px; }
#scrollbar1 .track { background-color:#c9c9c9; height: 100%; width:6px; position: relative; }
#scrollbar1 .thumb { background-color:#80573d; height: 20px; width: 6px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 0; }
#scrollbar1 .thumb .end { background-color:#80573d; overflow: hidden; height: 5px; width: 6px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }	

/*Spinner Style*/
.spinner{
	background-position:center center;	
}

/*Custom prettyPhoto*/
div.pp_default .pp_nav .currentTextHolder{
	color: #8b5e42!important;
}
	
/* ---------------------------------------------------------------
 * MEDIA QUERY
 * Sytle blocks depend screen device
 * ------------------------------------------------------------ */	
/*@media only screen and (max-width: 1024px) {
    #main{
		width:74%;
	}
	.slideshow{
		width:700px;
		margin:0 auto;	
	}
}
@media only screen and (max-width: 768px) {
    #main{
		width:65%;
		background-color:#666;
	}
	.slideshow{
		width:470px;
		margin:0 auto;	
	}
}

@media only screen and (max-width: 480px) {
   #main{
		width:25%;
		background-color:#090;
	}
}*/